<html>
    <head>
        <title>YTSync</title>
        <style>
            div {
                text-align: center;
            }
            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            .vids {
                margin-top: 20px;
            }
        </style>
    </head>
    <body>
        <div id="stats"></div>
        <div id="upbutton"></div>
        <div class="vids" id="allvids">
            {% for each in out %}
            {% include "vid.html" %}
            {% endfor %}
        </div>
        <div id="downbutton"></div>
        <script type="text/javascript">
            function populateStats() {
                
            }

            function createAndPutInDOM(arr) {
                for(i in arr) {
                    
                }
            }

            function onUpButton() {

            }

            function onDownButton() {

            }
        </script>
    </body>
</html>