<html>
    <head>
        <title>YTSync</title>
        <style>
            button {
                margin-top: 20px;
                margin-bottom: 10px;
            }
            div {
                text-align: center;
            }
            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            .vids {
                margin-top: 20px;
            }
        </style>
    </head>
    <body>
        <div id="stats"></div>
        <div id="upbutton">
            <button onclick="onUpButton()">Fetch More Recent</button>
        </div>
        <div class="vids" id="allvids">
            {% for each in out %}
            {% include "vid.html" %}
            {% endfor %}
        </div>
        <div id="downbutton">
            <button onclick="onDownButton()">Fetch less recent</button>
        </div>
        <script type="text/javascript">
            arr = []
            sdf = new Intl.DateTimeFormat('en-GB', { dateStyle:"short", timeStyle: 'long'})
            

            function populateArr() {
                ar = document.getElementsByClassName("video");
                for(var i = 0; i < ar.length; i++) {
                    let yt = {};
                    yt.title = ar[i].getElementsByTagName("h2")[0].innerHTML.trim();
                    yt.thumbnail = ar[i].getElementsByTagName("img")[0].getAttribute("src").trim();
                    yt.description = ar[i].getElementsByClassName("desc")[0].innerHTML.trim();
                    yt.publishedAt = ar[i].getElementsByClassName("pubAt")[0].innerHTML.trim();
                    arr.push(yt);
                }
            }

            function populateStats() {
                asd = document.getElementById("stats");
                asd.innerHTML = "All UTC time ";
                dt  = new Date().toISOString().replace("T", " ").replace("Z", " ");
                dt = dt.substring(0, dt.indexOf("."))
                asd.innerHTML += "Current Timestamp: " + dt;
                asd.innerHTML += " Most Recent Record Timestamp: ";
                if(arr.length > 0) {
                    asd.innerHTML += arr[0].publishedAt;
                } else {
                    asd.innerHTML += "-"
                }
                asd.innerHTML += " Least Recent Record Timestamp: ";
                if(arr.length > 0) {
                    asd.innerHTML += arr[arr.length - 1].publishedAt;
                } else {
                    asd.innerHTML += "-";
                }
            }

            function createEle(ari) {
                topl = document.createElement("div")
                topl.classList.add("video");
                
                title = document.createElement("h2")
                title.innerHTML = ari.title;
                topl.appendChild(title)
                
                imgt = document.createElement("img")
                imgt.setAttribute("src", ari.thumbnail)
                imgt.setAttribute("alt", "thumbnail")
                imgt.setAttribute("width", "20%")
                topl.appendChild(imgt);

            }

            async function onUpButton() {
                res = await fetch("/querydata?first=" + arr[0].publishedAt);
                jres = await res.json()
                console.log(jres)
                alls = document.getElementById("allvids");
                for(var i = jres.length - 1; i > -1; i--) {
                    ele = createEle(jres[i])
                    alls.insertBefore(ele, alls.firstChild);
                    arr.unshift(jres[i])
                }
                populateStats();
            }

            function onDownButton() {

            }

            populateArr();
            populateStats();
        </script>
    </body>
</html>