<html>
    <head>
        <title>YTSync</title>
        <style>
            .video {
                text-align: center;
            }
            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            .vids {
                margin-top: 20px;
            }
        </style>
    </head>
    <body>
        <div id="stats"></div>
        <div id="upbutton"></div>
        <div class="vids">
            {% for each in out %}
            {% include "vid.html" %}
            {% endfor %}
        </div>
        <div id="downbutton"></div>
        <script type="text/javascript">
            
        </script>
    </body>
</html>